<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="nhf.connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
    <add key="nhf.connection.driver_class" value="NHibernate.Driver.Sql2008ClientDriver" />
    <add key="nhf.dialect" value="NHibernate.Dialect.MsSql2008Dialect" />
    <add key="nhf.connection.connection_string.1" value="Server=(local)\SqlExpress; Initial Catalog=NHTest; Integrated Security=SSPI" />
    <add key="nhf.connection.connection_string.2" value="Server=(local)\SqlExpress; Initial Catalog=NHTest2; Integrated Security=SSPI" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>