<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="nhf.connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
    <add key="nhf.connection.driver_class" value="NHibernate.Driver.Sql2008ClientDriver" />
    <add key="nhf.dialect" value="NHibernate.Dialect.MsSql2008Dialect" />
    <add key="nhf.connection.connection_string.1" value="Server=.; Initial Catalog=test; Integrated Security=SSPI" />
    <add key="nhf.connection.connection_string.2" value="Server=.; Initial Catalog=test2; Integrated Security=SSPI" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>